@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');
body{
  text-align:center;
  font-family: 'Kosugi', sans-serif;
  background-color:#ECECEC;
}
.post{
  margin-left:30%;
  margin-right:30%;
  }
.intro,
.intro a{
  color:#fff;
  font-family: serif
}
a{ 
color: #3b5282;
text-decoration: none;
  } 
hr{
  background: #a6a6a6;
  height: 2px;
  }
